---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: #CFD8FF;
$theme-dark: #271B36;
$theme-secondary: #FFF98E;
$theme-neutral: #656153;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;

h1 {
        font-size: 3em !important;
        font-weight: 700;
        letter-spacing: 0.05em;
        color: $theme-dark;
        text-transform: capitalize;
        line-height: 1.5em;

}

h2 {
        font-size: 1.75em;
        font-weight: 400;
        letter-spacing: 0.03em;
        color: $theme-neutral;
        line-height: 1.5em;
        margin-top: 0.5em;
}

h3 {
        font-size: 1.75em;
        font-weight: 700;
        letter-spacing: 0.02em;
        color: $theme-dark;
        line-height: 1.25em;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0.5em;
}

h4 {
        font-size: 1.5em;
        font-weight: 400;
        letter-spacing: 0.02em;
        color:$theme-dark;
        line-height: 1.75em;
        margin-top: 0.5em;

}

h5 { 
        font-size: 1.25em;
        font-weight: 700;
        color: $theme-dark;
        letter-spacing: 0.02em;
        line-height: 1.35em;

}

p {
        @include sans-serif-font;
        font-size: 1em;
        font-weight: 400;
        color: $theme-neutral;
        line-height: 1.75em;
}

#header-text {
        margin: 15em 15em;
}

footer {
        @include sans-serif-font;
        background: $theme-dark;
        color: white;
        bottom: 0;
        width: 100vw !important;
        margin-top: -2em;
        list-style-type: none;
}

.center {
        text-align: center;
}

.left {
        text-align: left;
}

.right {
        text-align: right;
}

.theme-dark {
        color: $theme-dark !important;
}

.theme-neutral {
        color: $theme-neutral;
}

#illinois-superlawyer {
        color: $theme-neutral !important;
        padding-top: 2em;
}

#success {
        padding-top: 4em;
}

#saveBig {
        margin: -1em, auto;
}

.specialties img {
        max-height: 5em;
        max-width: auto;
}
.col-sm-2 {
        padding-left: 1em;
        padding-right: 1em;
}
.icons-category {
        margin-left: -5em;
        margin-right: -5em;
        padding-top: 2.5em;
}
.social i{
        max-height: 2em;
        display: inline;
}