---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: #CFD8FF;
$theme-dark: #271B36;
$theme-secondary: #FFF98E;
$theme-neutral: #656153;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;

h1 {
        font-size: 4em;
        font-weight: 700;
        letter-spacing: 0.05em;
        color: $theme-dark;
        text-transform: capitalize;
        line-height: 1.5em;
}

h2 {
        font-size: 1.75em;
        font-weight: 400;
        letter-spacing: 0.03em;
        color: $theme-neutral;
        line-height: 1.25em;
}

h3{
        font-size: 1.75em;
        font-weight: 700;
        letter-spacing: 0.02em;
        color: $theme-dark;
        line-height: 1.25em;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2em;
}

h4 {
        font-size: 1.5em;
        font-weight: 400;
        letter-spacing: 0.02em;
        color:$theme-dark;
        line-height: 1.35em;

}

h5{ 
        font-size: 1.25em;
        font-weight: 700;
        color: $theme-dark;
        line-height: 1.35em;

}

p{
        font-size: 1em;
        font-weight: 400;
        color: $theme-neutral;
        line-height: 1.5em;

}

.center {
        text-align: center;
}

.left {
        text-align: left;
}

.right {
        text-align: right;
}

.theme-dark{
        color: $theme-dark !important;
}

#success {
        background-color: $theme-primary;
        padding-top: 4em;
}

.specialties img{
        max-height: 5em;
        max-width: auto;
}
