<section class="benefit">
    <div class="container benefit">
        <h3 class="sectionHeader center">The Engaged Counsel Benefit</h3>
        <h4 class="sectionSubtitle center">Get results while saving money on lawyers and legal fees.</h4>
        <div class="row container specialty-icons center">
            <div class="col-sm-4">
                <img src="/img/icons-story/top-secret-folder.svg">
                <h5>Big Law's Dirty Secret</h5>
                <p>Big Law's dirty secret is that the partner you hired usually isn't doing the hard work— it is given to less experienced attorneys and paralegals. 
                    That work is <b>where many cases are won or lost,</b> and the most expensive part of litigation.</p>
            </div>
            <div class="col-sm-4">
                <img src="/img/icons-story/money-bag.svg">
                <h5>Don't Overpay</h5>
                <p>You may be <b>paying more for less</b>: high Big Law rates for work from a junior "work horse" lawyer who you have never met. </p>
            </div>
            <div class="col-sm-4">
                <img src="/img/icons-story/justice-scales.svg">
                <h5>Get What You Deserve</h5>
                <p>Attorney Shorge Sato has <b>over 15 years of law firm experience</b> as a "work horse" attorney 
                    and will coordinate with outside counsel, take your case all the way to trial, or hand off the baton at the right time.</p>
            </div>
        </div>
    </div>
</section>