<section id="contact" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h4 class="sectionHeader">If your life, liberty, business, or property is under siege, you may need ENGAGED COUNSEL 
                    to help you understand your rights as you navigate and fight the system.</h4>
            </div>
        <div class="col-lg-6 col-lg-offset-1 left">
            <div class="contact-methods">
                <h5> Engaged Counsel</h5>
                <a href="tel:13128184146">
                    <div id=telephone>
                        <h4>(312) 818-4146</h4>
                    </div>
                </a>
                <a href="mailto:shorge@engagedcounsel.com">
                    <div id=email>
                        <h4>shorge@engagedcounsel.com</h4>
                    </div>
                </a>
                <a href="https://maps.google.com/?q=420 West Huron St.Chicago, IL 60654">
                    <div id=address>
                        <h4>420 West Huron St.<br>
                            Chicago, IL 60654</h4>
                    </div>
                </a>
            </div>
            <div class="social">
                <h4>Connect with Engaged Counsel</h4>
                <div class="col-lg-2">
                    <a href="https://twitter.com/{{ site.twitter_username }}">
                        <i class="social fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        <p>{{ site.twitter_username }} @EngagedCounsel</p>
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="https://medium.com/{{ site.medium_username }}">
                    <i class="social fa fa-medium fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        <p>{{ site.medium_username }} @EngagedCounsel</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>