<section class="specialties bg-primary">
    <div class="container specialties">
        <h3 class="sectionHeader center">Attorney Shorge Sato, Esq. is an expert and specializes in several disciplines:</h3>
        <div class="row container icons-category center">
            <div class="col-sm-2">
                <img src="/img/icons-category/contract.svg">
                <h5>Complex Commercial Litigation</h5>
                <p>A few words about the discipline will go here eventually.</p>
            </div>
            <div class="col-sm-2">
                <img src="/img/icons-category/gavel.svg">
                <h5>Appellate <br>Practice</h5>
                <p>A few words about the discipline will go here eventually.</p>
            </div>
            <div class="col-sm-2">
                <img src="/img/icons-category/condos.svg">
                <h5>Condominium Association Law</h5>
                <p>A few words about the discipline will go here eventually.</p>
            </div>
            <div class="col-sm-2">
                <img src="/img/icons-category/airbnb-pin.svg">
                <h5>Sharing Economy & Airbnb Law</h5>
                <p>A few words about the discipline will go here eventually.</p>
            </div>
            <div class="col-sm-2">
                <img src="/img/icons-category/house.svg">
                <h5>Real Estate Litigation</h5>
                <p>A few words about the discipline will go here eventually.</p>
            </div>
            <div class="col-sm-2">
                <img src="/img/icons-category/wrench.svg">
                <h5>Construction Litigation & Mechanics Liens</h5>
                <p>A few words about the discipline will go here eventually.</p>
            </div>
        </div>
    </div>
</section>