<section class="testimonial" id="success">
    <div class="container">
        <div class="row">
            <h3 class="center">"The most extraordinary work product I have ever encountered."</h3>
            <div class="col-lg-8 col-lg-offset-3 left">
                <h2 class="theme-dark">United States Bankruptcy Judge James M. Peck</h2>
                <p>March 11, 2010, about the Bankruptcy Examiner's 2,200 page report on the bankruptcy of Lehman Brothers Holdings, Inc. 
                    of which attorney Sato personally edited and drafted over 600 pages while at Jenner & Block.</p>
                <p class="read-more">Read More</p>
            </div>
            <div class="col-lg-9 col-lg-offset-2 center">
                <h4>With ENGAGED COUNSEL, you have one of Chicago's top business and real estate attorneys, Shorge Sato. With nearly 20 years of courtroom experience, 
                    Mr. Sato is an experienced trial & appellate advocate, and was recently peer-selected as an 
                    <a href="https://profiles.superlawyers.com/illinois/chicago/lawyer/shorge-sato/d2d1069c-4b79-4659-bf96-31311e51f80b.html">Illinois SuperLawyer</a> 
                    and Illinois Leading Lawyer.</h4>
            </div>
        </div>
    </div>
</section>