<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html 
    title="Shorge Sato, Esq.<br>Solo Pricing. Big Firm Results."
    text="One of Chicago's leading lawyers in<br>constitutional, corporate, and real estate litigation"
    cta="Get A Consultation"
    ctaLink="#contact"
    subtext="An Illinois SuperLawyer and Illinois Leading Lawyer"
%}
  {% include testimonial.html %}
  {% include specialties.html %}
  {% include call-to-action.html %}
  {% include services.html %}
  {% include portfolio.html %}
  {% include aside.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>